.tabs {
    padding: 1rem 0;
    height: 100vh;

    @include breakpoint-up(large){
        padding: 2rem;
        height: 100%;
    }
}

.tabs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    margin: 0 auto;
    height: 100vh;
    max-width: 90vw;
    overflow-x: hidden;

    @include breakpoint-up(medium){
        max-width: 70vw;
    }
}

.tabs-header {
    grid-column: 2;
    margin: 0 auto;
    padding: 1rem 0;
    text-align: center;
    width: 100%;

    & h2 {
        color: $textClr;
        text-transform: uppercase;
        font-family: 'Courier New', Courier, monospace;
    }
}

.tabs-btn-box {
    grid-column: 1/-1;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: .5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn1, .btn2, .btn3, .btn4 {
    margin: 0 auto;
    width: 4.375rem;
    height: 4.3rem;
    border-radius: 1.1rem;
	background: linear-gradient(145deg, #e6e4da, $white);
    box-shadow: .25rem .25rem .25rem $lightGrey;
	font-weight: 700;
    color: $textClr;
	cursor: pointer;
    outline: none;
    border: 1px solid $lightGrey;

    &.active {
        box-shadow: .25rem .25rem .25rem #5a7be8;
    }

    @include breakpoint-up(medium){
		width: 90%;
        border-radius: 10px;
    }
}

.btn-icon1 {
    color: #e8bb5a;
    font-size: 1.3rem;
    filter: drop-shadow($textShadow);
}

.btn-icon2 {
    color: #f8f862;
    font-size: 1.1rem;
    filter: drop-shadow($textShadow);
}

.btn-icon3 {
    color: #e8c25a;
    font-size: 1.1rem;
    filter: drop-shadow($textShadow);
}

.btn-icon4 {
    color: #ff63e5;
    font-size: 1.1rem;
    filter: drop-shadow($textShadow);
}
