.team {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 90rem;
    position: relative;

    @include breakpoint-up(medium){
        height: 100vh;

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 3%;
            background: $mainGold;
            clip-path: polygon(28% 3%, 100% 30%, 79% 89%, 0 61%);
            z-index: -99;
        }
    }
}

.title {
    cursor: pointer;
    text-align: center;

    & .team-title {
        padding-top: 1rem;
        text-transform: uppercase;
        color: $mainGold;
        text-shadow: $textShadow;
        letter-spacing: 2px;
    }
}

.team-wrapper {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;

    @media screen and (min-width: 75rem){
        transform: translateY(30%);
    }
}

.team-member {
    background: url(images/wooden-brick.jpg) center/cover no-repeat;
    padding: 1rem;
    max-height: 18rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border-radius: .5rem;
    box-shadow: $boxShadow;

    @include breakpoint-up(large){
        max-height: 20rem;
    }

    & img:hover {
        transform: rotateY(360deg);
    }
    
    & img {
        display: block;
        width: 15rem;
        height: 11rem;
        border-radius: .5rem;
        border: 1px solid $white;
        margin: 0 auto;
        cursor: pointer;
        transition: all 1s ease-in-out;
        box-shadow: $boxShadow;
    }
}

.img-footer {
    display: flex;
    justify-content: center;
    padding: .5rem;
    text-align: center;
}

.footer-info {
    & h3, h5 {
        color: $white;
        letter-spacing: .1rem;
        text-shadow: $textShadow;
        margin-bottom: .3rem;
    }

    & .social-icons {
        padding-top: .5rem;
        background: rgba(0,0,0,.3);
        border-radius: 5px;

        & a {
            margin: 0 1rem;
            color: $white;
            font-size: $fontMd;
            text-shadow: $textShadow;
            transition: all .5s ease-in-out;

            &:hover {
                color: $mainGold;
                transform: translateY(-.625rem);
            }
        }
    }
}

