$mainGold: #f8d63c;
$mainBlack: #000000;
$white: #ffffff;
$textClr: #4e4e4e;
$lightGrey: #cccccc;

$fontSm: 1rem;
$fontMd: 1.5rem;
$fontLg: 2rem;
$fontXlg: 2.5rem;

$textShadow: .125rem .125rem .125rem $mainBlack;
$boxShadow: .25rem .25rem .5rem $mainBlack;